<header class="site-header">
  <div class="header-inner">
    <a class="wordmark" href="#top" aria-label="{{ site.data.workshop.acronym }} home">
      <span class="wordmark-mark" aria-hidden="true">O</span>
      <span class="wordmark-copy">
        <strong>{{ site.data.workshop.acronym }}</strong>
        <small>{{ site.data.workshop.conference }}</small>
      </span>
    </a>
    <nav aria-label="Primary navigation">
      <a href="#about">About</a>
      <a href="#cfp">Call for Papers</a>
      <a href="#program">Program</a>
      <a href="#organizers">Organizers</a>
    </nav>
  </div>
</header>
